.jumbotron {
  background-repeat: no-repeat;
  background-position: right;
  background-color: #000000;
  color: #ffffff;
  margin-top: 3%;
}
#newburger {
  color: #5c5c5c;
}
#leftside {
  background-color: #5c5c5c;
  color: white;
  text-align: center;
  font-size: 1.3em;
}
#rightside {
  background-color: #e49322;
  color: white;
  text-align: center;
  font-size: 1.3em;
}

.wallpaper{
  background-image:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGzYUE7Gvlz7gEIPQGOrsCScAb_uBbT8SvusmiY7r7SDpEfunKhA&s";
}
